/*
    TYPE
*/

h1,h2,h3 {
    font-family: $font-family-sans;
    font-weight: bold;
}

h1,h2,h3,p,ul,footer {
    line-height: 1.7em;
    margin: $spacing 0;
}
p,ul {
  margin-bottom: $spacing*2;
}
main p:first-of-type {
  margin-top:$spacing*1.5;
}
code {
  color: $color-main;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding: 0.2em 0.3em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}
h2 {
    font-size: $font-size-s !important;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-main;
    opacity: 0.5;
}
figcaption {
  font-size: $font-size-s;
}
.font-size-xl   { font-size: $font-size-xl; }
.font-size-l    { font-size: $font-size-l; }
.font-size-m    { font-size: $font-size-m; }
.font-size-s    { font-size: $font-size-s; }

a {
    color: $color-accent;
    text-decoration: none;
    border-bottom: 0px solid $color-accent;
}

.attention {
    text-align: center;
    color: $color-accent;
    font-family: $font-family-serif;
}
