/*
    TYPE
*/

h1,h2,h3 {
    font-family: $font-family-sans;
    font-weight: 700;
}
nav, nav a {
  margin-bottom: $spacing !important;
  color: $color-main;
  opacity: 0.7;
}
header,h1,h2,h3,p,ul {
    margin-bottom: $spacing;
}
header h1 {
  font-size: $font-size-m !important;
}
subtitle, subtitle a {
  color: $color-main;
  margin: 0 !important;
  opacity: 0.7;
}

h2#recentPosts {
    font-size: $font-size-s !important;
    margin-bottom: 1em;
}

.font-size-xl   { font-size: $font-size-xl; }
.font-size-l    { font-size: $font-size-l; }
.font-size-m    { font-size: $font-size-m; }
.font-size-s    { font-size: $font-size-s; }

a {
    color: $color-accent;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#nowPlaying, #lastRun {
  text-transform: none;
}
code, kbd, pre, samp {
  background-color: #eee;
  color: #000;
  font-size: 1em * 0.85;
  padding: 2px 6px;
  border-radius: 6px;
  font-family: "Monaco", monospace;
}
.attention {
    text-align: center;
    color: $color-accent;
    font-family: $font-family-serif;
}
